* {
    padding: 0;
    margin: 0;
    /* font-family: "Charm", serif; */
    font-weight: 700;
    font-style: normal;
    /* #a9ff1c premissin less web color */
}
body{
       background-color:black;
        -webkit-background-clip: text;
        background-clip: unset;
        color: transparent; 
}

.nav {
   /* background: linear-gradient(to right,black,#ff0000,black);*/
    height: 60px;
    display: flex;
    width: 100vw;
    /* justify-content: space-evenly;#c92a42*/
}

.actions {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: red;
    padding: 15px;
    font-weight: 700;
    font-style: normal;
}

h1 sub {
    color: aliceblue;
}

.header {
    width: 30%;
}

.nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 25px;

}
.nav-links a{
    color:red;
}
.margin-navlinks {
    margin: 10px;
}

.margin-navlinks a {
    text-decoration: none;
}

.nav .btn {
    color: #fff;
    height: 50px;
    width: 50px;
}

.nav .right-nav {
    width: 55%;
    text-align: right;
    align-self: center;
}

.nav .btn {
    background: transparent;
    border: transparent;
    font-size: 20px;
}

.nav-link-2 {
    position: fixed;
    right: 0;
    height: 100%;
    background-color:white;
    width: 250px;
}

.nav-link-2 .cbtn {
    height: 60px;
}

.nav-link-2 .cancel-btn {
    position: relative;
    float: right;
    color:red;
    right: 30px;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
}

.actions2 {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    /* justify-content: space-between;*/
    text-align: center;
    height: 300px;
    width: 100%;
}

.actions2 a {
    text-decoration: none;
    color: red;
}

.actions2 .about {
    padding: 10px;
    border-top: 0.5px rgb(0, 0, 0) solid;

    border-bottom: 0.5px rgb(0, 0, 0) solid;
}

.actions2 .skills {
    padding: 10px;
    border-top: 0.5px rgb(0, 0, 0) solid;

}

.actions2 .contact-me {
    padding: 10px;
    border-top: 0.5px rgb(0, 0, 0) solid;
    border-bottom: 0.5px rgb(0, 0, 0) solid;

}

@media screen and (min-width:0px) and (max-width:1020px) {

    .nav-links{
        visibility: hidden;
    }
    
}
@media screen and (min-width:1021px) and (max-width:3000px) {

    .right-nav,.btn{
        visibility: hidden;
    }
  }
@media screen and (min-width:1021px) and (max-width:3000px) {

    .left-part{
        font-size: xx-large;
        text-transform: capitalize;
    }
}


.container{
    position:static;
    width:90%;
    height: 500px;
    margin: 5%;
    display: flex;
}
.left-part{
    text-transform: capitalize;
    width: 50%;
    border-radius: 5px;
    color:white;

}
.right-part{
    width: 50%;
    text-align: right;
    background: transparent;

}
.right-part img{
    height: 100%;
    width: 40%;
}
.left-part h1{
    font-size: 100px;
    color:black;
    -webkit-text-stroke: 0.5px white;
}

#name span,#front span,#dev span{
    font-size:100px;
    color:black;
    -webkit-text-stroke: 0.5px red;
}
h1 span{
    font-size:43px;
    color:black;
    -webkit-text-stroke: 0.5px red;
}
#about{
    line-height: 20px;
}
@media screen and (min-width:0px) and (max-width:1020px) {
    
    .right-part img{

        width: 80%;
    }
}
.text-color{
    color: #fff;
}
#about{
    border-radius: 29px;
    box-shadow: 5px 5px 20px red;
    padding: 20px 20px 20px 20px;
}
.pos-Relative{
    position: relative;
    text-transform: capitalize
}

.container2{
    width: 90%;
    margin: 5%;
    text-transform: capitalize;

}
#about-me span:hover{
    border-bottom: 2px red solid;
}
 #about-me{
    margin-bottom: 20px;
    transition: all 0.5s ease;
}
.margin-navlinks:hover{
    padding-bottom: 5px;
    border-bottom: 5px red solid;
}
.form-container{
    text-align: center;
}

.container3{
    /* background-color:white; */
    margin-top: 50px;
    display: block;
    color:wheat;
}
.tech{
    background-color: #fff;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
}
.tech-img img{
    height: 200px;
    width: 150px;
}
.tech-img{
    box-sizing: content-box;
    padding: 10px;
    background-color:#000;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px red; 
}
#img1:hover{
   
 transform: scale(1.1);
 transition: transform 1s ease-in-out;
}
#img2:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}#img3:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}#img4:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}#img5:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}#img6:hover{
    transform: scale(1.1);
 transition: transform 1s ease-in-out;
}
#img7:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
#img8:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
@media screen and (min-width:0px) and (max-width:1020px) {
    
    .tech-img{
        background-color:#000;
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 10px;
        padding: 10px 0;
    }

    .tech-img img{
        height: 150px;
        width: 150px;
    }
   
}
.techbox{
    height: 261px;
    box-sizing: content-box;
    border-radius:5px;
    margin: 2px;
}

/*education section*/
.container5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Education-container{
    height: 100%;
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: wrap;
    gap:100px;
}
@media screen and (min-width:0px) and (max-width:1020px){
    .Education-container{
        height: 100%;
        width: 80%;
        /* margin-left: 10%; */
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        flex-wrap: wrap;
        gap:100px;
    }
}
#education{
    /* background-color:#fff; */
    /* height: 51vh; */
    width:100%;
}
.Education-in-container{
    width: 440px;
    height:40vh;
    background-color:#000;
    border-radius: 20px;
    transition: all 0.5s ease;
    box-shadow: 4px 4px 8px red;
}
.Education-in-container:hover{
    transform: scale(1.2);
}
.educationclass{
    margin-left: 5%;
}