* {
    padding: 0;
    margin: 0;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}
body{
        background: linear-gradient(to right,black, red);
        -webkit-background-clip: text;
        background-clip: unset;
        color: transparent; 
}
.hr{
    background-color: black;
}

.nav {
    background: linear-gradient(to right,black, red);
    height: 60px;
    display: flex;
    width: 100vw;
    /* justify-content: space-evenly;*/
}

.actions {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: red;
    padding: 15px;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

h1 sub {
    color: aliceblue;
}

.header {
    width: 30%;
}

.nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 25px;

}
.nav-links a{
    color:red;
}
.margin-navlinks {
    margin: 10px;
}

.margin-navlinks a {
    text-decoration: none;
}

.nav .btn {
    height: 50px;
    width: 50px;
}

.nav .right-nav {
    width: 40%;
    text-align: right;
    align-self: center;
}

.nav .btn {
    background: transparent;
    border: transparent;
    font-size: 20px;
}

.nav-link-2 {
    position: fixed;
    right: 0;
    height: 100%;
    background: linear-gradient(to right, red,black);
    width: 250px;
}

.nav-link-2 .cbtn {
    height: 60px;
}

.nav-link-2 .cancel-btn {
    position: absolute;
    color:red;
    right: 15px;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
}

.actions2 {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    /* justify-content: space-between;*/
    text-align: center;
    height: 300px;
    width: 100%;
}

.actions2 a {
    text-decoration: none;
    color: black;
}

.actions2 .about {
    padding: 10px;
    border-top: 0.5px rgb(0, 0, 0) solid;

    border-bottom: 0.5px rgb(0, 0, 0) solid;
}

.actions2 .skills {
    padding: 10px;
    border-top: 0.5px rgb(0, 0, 0) solid;

}

.actions2 .contact-me {
    padding: 10px;
    border-top: 0.5px rgb(0, 0, 0) solid;
    border-bottom: 0.5px rgb(0, 0, 0) solid;

}

@media screen and (min-width:0px) and (max-width:1020px) {

    .nav-links{
        visibility: hidden;
    }
    
}
@media screen and (min-width:0px) and (max-width:1020px) {
    
    .about-met{
        height: 400px;
    }
    
}

@media screen and (min-width:1021px) and (max-width:3000px) {

    .right-nav{
        visibility: hidden;
    }
    
}

.about-me{
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    height: 300px;
    background: linear-gradient(to right,black, red,black);
    margin-top: 5%;
    border-color: red;
  color:white;
  }
  .image{
    height: 100%;
    width: 45%;
   text-align:center;
   margin-right: 5%;
  }
  .image img{
    height: 300px;
    width: 300px;
    border: 3px red solid;
    border-radius: 50%;
  }
  .left-part{
    text-align:center;
    height: 100%;
    width: 50%;
  }
p span{
    color: red;
}
b span{
    color: red;
}
.about{
    margin-top: 10px;
    display: flex;
    height: 500px;
 width: 100%;
 color: #fff;
 background: linear-gradient(to right,black,red,black);
}
.about #left-part{
    width: 50%;
    text-align: center;
}
.about #left-part img{
    height: 300px;
   
    width: 300px;
    margin: 10%;
}
.about #right-part{
    width: 50%;
    margin: 10% 0;
}