* {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: red;
    height: 60px;
    display: flex;
    width: 100%;
    /* justify-content: space-evenly;*/
}

.actions {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    padding: 15px;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

h1 sub {
    color: aliceblue;
}

.header {
    width: 30%;
}

.nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 25px;

}
.margin-navlinks{
  margin: 10px; 
}
.margin-navlinks a{
    text-decoration: none;
}
.nav .btn{
    height: 50px;
    width: 50px;
}
.nav .right-nav{
    width: 50%;
    text-align: right;
    align-self: center;
}
.nav .btn{
    background: transparent;
    font-size: 20px;
}
.nav-link-2{
    position:fixed;
    right: 0;
    height: 100%;
    background-color: red;
    width: 250px;
}
.nav-link-2 .cbtn{
    height: 60px;
}
.nav-link-2 .cancel-btn{
    position: absolute;
    right: 0;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
}
.actions2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}